language: node_js
node_js:
- "6"
script:
- npm run test
cache:
  yarn: true
  directories:
    - node_modules
branches:
  only:
  - master
notifications:
  email: false
  slack:
    on_pull_requests: false
    secure: NNoU8uh0rzaSnStMrI6+aQtcZTtwpJ3DTmu6mdGrRZviLqTOeBcpgVTPWjueuHJ3XJujCQOtZzF/4MrA51xRDQHF68Tfnue7SsQS1ksLLJSy/jPCCc7fiqZcSGYNwCvSEd1sgAYIbFGiKArEmzmCUmcUCWlIBz+UfCbIDCKBxx4skBHdVjVJ5Ju/EtJVWof2S84EcvLRG3HtUCapWvS+o9znjO0RYY1Sa1Qe7JUoMsS3QIV69eZ6abGS+N80i3EJ/gasfeMTPXPnm3OiVcaiABlHyezyrizTSIkE77/qXTwJUjLpVbHNm5gahcouTwlNS/wV6chX+iRirkeHj5lzTTGHD7UdXwv+VgvYKp83D0EwxUYXG/7iKTUijVddMW2xtE53Nk/+DS1zYXCwhKubRO+Fg5yKuhXOR8xGXqd+rJ0RXxDxu9VNTZhfSWVMFyvKEma4dzgUBjuPUUDq4dsu6IsrAMQ+InAdwcqutKJdaXFl2iRyvEmKDLBd9SjisWyxGBBk4kIN6tx5+eRXLf9pVBnXV105HquMa7uY6t/qUVwKTNEc6hCRPMRBR+JLAvdHqlZecFHja28KH1V5OaZH/phuqqILxYzeIyahvWN8UnLH9dBt/vJZQmyoyJTg1/PoFqFOYSGUSodi49LDODXuSq1lJP4zLJxpwrKbJ1AKYjo=
